<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:tiles="http://www.thymeleaf.org" 
 >
<head>	
  <th:block th:include="fragments/headerinc :: head"></th:block> 
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
  <script type="text/javascript" th:inline="javascript">
  
  
  	  function setData(data,index){
  		$("#rosterTemplate"+index+"\\.employee\\.id").val(data.id);
  		$("#rosterTemplate"+index+"\\.employee\\.employeeCodigo").val(data.employeeCodigo);
  		$("#rosterTemplate"+index+"\\.employee\\.employeeLastName").val(data.employeeLastName);
  		
  	  }
  
	  function getData(objct){
		  var  nameOf = $("#rosterTemplate"+objct+"\\.employee\\.employeeName").val();
		  $("#rosterTemplate"+objct+"\\.employee\\.employeeName").autocomplete(
			{
				source: function(request, response) {
					$.ajax({
					url: '/employee/list_employees/'+nameOf,
					type: "GET",
					data: { term: request.term },
					 
					dataType: "json",
					 
					success: function(data) {					
					response($.map(data, function(v,i){
					setData(v,objct);
					return {
					label: v.employeeName,
					value: v.employeeName
					};
					}));
					}
					});
					}
				
	  			
		  });
		  
		    var field = "rosterTemplate["+objct+"].employee.employeeName";
		    var fieldByID = "rosterTemplate"+objct+".employee.employeeName";
			 
			var  nameJquery = document.getElementsByName(field)[0].value;
	    	console.log(objct);
	    	console.log(nameJquery);
	    	console.log(nameOf);
										
	    }  
	  
  
		
  
  	
  </script>
</head>
<body>
<div class="wrapper">
      <th:block th:include="fragments/sidemenu :: sidemenu"></th:block>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Employees</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret"></b>
                                    <span class="notification">2</span>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>                             
                              </ul>
                        </li>                        
                    </ul>

                    <ul class="nav navbar-nav navbar-right">                        
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Options
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#" th:href="@{/portfolio/show_portfolio}">Cancel</a></li>                                                                                            
                                <li class="divider"></li>                                
                              </ul>
                        </li>
                        <li>                         
                            <a href="#" th:href="@{/logout}">
                                Log out
                            </a>                         
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
<div class="content">

        
            <div class="container-fluid">
            <form th:action="@{/roster/save_roster}" th:object="${roster}" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">                            	
                            	<input type="hidden" name="clients.customerName"  th:value="*{clients.customerName}" /> 
                                <input type="hidden" name="id"  th:value="*{clients.id}" />
                                <h4 class="title">Customer <span th:text="*{clients.customerName}">
                                

                                </span></h4>
<!-- Customer details hidden values -->
<input type="hidden"  />
                                <p class="category">List of active Customers</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Employee Name</th>
                                    	<th>Day</th>
                                    	<th>Start time</th>
                                    	<th>End Time</th>
                                    	<th>Total</th>     
                                    	<th>Options</th>                               	
                                    </thead>
                                    <tbody>
                                      <tr th:each="rosterTml,status: *{rosterTemplate}">
                                       <td >
                                       			<input type="text" 
                                       				th:onkeyup="'javascript:getData(\''+${status.index}+'\');'" 
                                       				th:field='*{rosterTemplate[__${status.index}__].employee.employeeName}'                                       				                                        				                                       			
                                       				th:value="${rosterTml.employee.employeeName}" 
                                       				placeholder='Name' 
                                       				class="form-control" />
                                       				
                                       		<input type="hidden"                                        		 
                                       				th:field='*{rosterTemplate[__${status.index}__].employee.id}'                                       				                                        				                                       			
                                       				
                                       				 />
											
											<input type="hidden"                                        		 
                                       				th:field='*{rosterTemplate[__${status.index}__].employee.employeeLastName}'                                       				                                        				                                       			
                                       				 
                                       				 />                                       				 
												                                       				                                       				 
                                       				 <input type="hidden"                                        		 
                                       				th:field='*{rosterTemplate[__${status.index}__].employee.employeeCodigo}'                                       				                                        				                                       			
                                       				 
                                       				 />
                                       				
                                       </td>
                                       <td >
                                        <select class="form-control" th:field="*{rosterTemplate[__${status.index}__].day}" th:remove="all-but-first">
								                <option th:each="state : ${T(easyclean.admin.enums.DaysOfWeek).values()}"
								                        th:value="${state}" th:text="${state}">Days</option>
								                
								            </select>
                                       			
                                       </td>
                                       <td>
                                       				<input type="text" th:field='*{rosterTemplate[__${status.index}__].startTime}' th:value="${rosterTml.startTime}" placeholder='00:00' class="form-control" />
                                       </td>
                                       <td>
                                       				<input type="text" th:field='*{rosterTemplate[__${status.index}__].endTime}' th:value="${rosterTml.endTime}" placeholder='00:00' class="form-control" />
                                       </td>
                                       <td>
                                       				<input type="text" th:field='*{rosterTemplate[__${status.index}__].totalHours}' th:value="${rosterTml.totalHours}" placeholder='00' class="form-control" />
                                       </td>
                                       <td>
                                       		<button type="submit" name="removeRow" th:value="${status.index}" class="btn btn-danger"  >
                                       			<span class="pe-7s-trash"></span>
                                       		</button>
                                       		                                       	                                       	
                                       	</td>
                                       </tr>
                                    </tbody>
                                </table>
                                                       
                            </div>
                        </div>
                        
                        
                    </div>
                   
                </div>
                
                <div class="row">
                 	<div class="col-md-12">
                 	<input type="submit" name="addRow" class="btn btn-primary pull-right" value="Add Row" />
                    <br />   
                 	</div>
                 </div>
                <div class="row">
                 	<div class="col-md-12">
                 	<br />
                 	</div>
                </div>
                </form>
            </div>
            
        </div>
         

       
	<th:block th:include="fragments/footer :: footer"></th:block>

    </div>
</div>


</body>

</html>
