<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head >
	
</head>

<body>
<div th:fragment="sidemenu" >
<div class="sidebar" data-color="green" data-image="../../assets/img/sidebar-5.jpg" th:data-image="@{/assets/img/sidebar-4.jpg}">

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    Easyclean
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="dashboard.html">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="user.html">
                        <i class="pe-7s-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
<!--                 Uncomment line once logic to handle active menu is added -->
<!--                 <li class="active"> -->
<li>
                    <a th:href="@{/employee/show_employees}">
                        <i class="pe-7s-id"></i>
                        <p>Employees</p>
                    </a>
                </li>
                <li>
                    <a href="typography.html">
                        <i class="pe-7s-cart"></i>
                        <p>Stock</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/portfolio/show_portfolio}">
                        <i class="pe-7s-portfolio"></i>
                        <p>portfolio</p>
                    </a>
                </li>                
                <li>
                    <a href="notifications.html">
                        <i class="pe-7s-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>
				
            </ul>
    	</div>
    </div>
    </div>
</body>
  

</html>
